/***
** 跨端基础规范
**/

@import 'tokens.specs';

page {
  color: @color-text;
  background: @color-bg;
  font-size: @font-size-14;
  line-height: @line-height-normal;
}


view, text {
  box-sizing: border-box;
}
